.AboutProject__heading {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: -0.05rem;
}

@media (max-width: 375px) {
  .AboutProject__heading {
    font-size: 1.125rem;
    letter-spacing: -0.045rem;
  }
}




