.Techs__list {
  max-width: 690px;
  margin: 100px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .Techs__list {
    max-width: 648px;
    margin: 83px auto 0;
  }
}

@media (max-width: 375px) {
  .Techs__list {
    max-width: 178px;
    margin: 50px auto 0;
  }
}
