{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-underscore-dangle":  ["error", { "allow": ["_id", "_request", "_getResponseData", "_api"] }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
