.AboutProject__title {
  font-size: 1.375rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: -0.055rem;
  border-bottom: 1px solid var(--line);
  padding-bottom: 23px;
  margin-top: 110px;
}


@media (max-width: 768px) {
  .AboutProject__title {
    margin-top: 90px;
  }
}

@media (max-width: 375px) {
  .AboutProject__title {
    padding-bottom: 28px;
    margin-top: 70px;
    font-size: 1.125rem;
    letter-spacing: -0.045rem;
  }
}

