.AboutMe__link{
  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: normal;
  color: #fff;
  text-decoration: none;
  margin-top: 99px;
  transition: opacity 0.7s ease;
}

.AboutMe__link:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .AboutMe__link {
    margin-top: 87px;
  }
}

@media (max-width: 375px) {
  .AboutMe__link {
    margin-top: 40px;
  }
}
