.Techs__large-title{
  font-size: 3.125rem;
  text-align: center;
  line-height: 3.625rem;
  letter-spacing: -0.125rem;
  font-weight: normal;
  margin-top: 91px;
}

@media (max-width: 768px) {
  .Techs__large-title {
    margin-top: 80px;
  }
}

@media (max-width: 375px) {
  .Techs__large-title {
    font-size: 1.875rem;
    letter-spacing: -0.075rem;
    margin-top: 49px;
  }
}
