.AboutProject__wrap {
  max-width: 1140px;
  width: 93.75vw;
  margin: 0 auto;
  min-height: 585px;
}

@media (max-width: 768px) {
  .AboutProject__wrap {
    max-width: calc(100% - 50px * 2);
  }
}

@media (max-width: 375px) {
  .AboutProject__wrap {
    max-width: calc(100% - 19px * 2);
  }
}

