.AboutProject__scheme-title{
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.0625rem;
  color: #8B8B8B;
  text-align: center;
  margin-top: 14px;
}

@media (max-width: 375px) {
  .AboutProject__scheme-title{
    margin-top: 10px;
    font-size: 0.6875rem;
  }
}

