.AboutProject__backend-duration{
  text-align: center;
  color: #000;
  background-color: var(--color-green);
  padding: 9px 14px;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: normal;
}

@media (max-width: 375px) {
  .AboutProject__backend-duration{
    font-size: 0.6875rem;
    padding: 10px 12px;
  }
}

