@import url('./__wrap/NotFound__wrap.css');
@import url('./__title/NotFound__title.css');
@import url('./__description/NotFound__description.css');
@import url('./__link/NotFound__link.css');

.NotFound{
  display: flex;
  justify-content: center;
}
