.NotFound__link{
  color: var(--color-btn);
  text-decoration: none;
  text-align: center;
  font-size: 0.875rem;
  font-weight: normal;
  transition: opacity 0.7s ease;
}

.NotFound__link:hover {
  opacity: 0.7;
}

@media (max-width: 425px) {
  .NotFound__link {
    font-size: 0.75rem;
  }
}
