.SearchForm__input{
  box-sizing: border-box;
  min-height: 100%;
  border: none;
  flex-basis: 824px;
  background-color: inherit;
  padding-left: 63px;
  background: url(../../../images/icon-search.svg) no-repeat center left 25px;
  color: #8B8B8B;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.25rem;
}

.SearchForm__input:focus {
  border: none;
  outline: none;
}
