.AboutMe__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 93.75vw;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .AboutMe__wrap {
    max-width: calc(100% - 50px * 2);
  }
}

@media (max-width: 375px) {
  .AboutMe__wrap {
    max-width: calc(100% - 14px * 2);
  }
}
