.Portfolio__title{
  color: #8B8B8B;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.25rem;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .Portfolio__title {
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  .Portfolio__title {
    font-size: 0.875rem;
    margin-top: 70px;
  }
}
