@import url('./__wrap/AboutProject__wrap.css');
@import url('./__title/AboutProject__title.css');
@import url('./__items/AboutProject__items.css');
@import url('./__heading/AboutProject__heading.css');
@import url('./__paragraph/AboutProject__paragraph.css');
@import url('./__item/AboutProject__item.css');
@import url('./__progress/AboutProject__progress.css');
@import url('./__backend/AboutProject__backend.css');
@import url('./__backend-duration/AboutProject__backend-duration.css');
@import url('./__scheme-title/AboutProject__scheme-title.css');
@import url('./__frontend-duration/AboutProject__frontend-duration.css');
@import url('./__frontend/AboutProject__frontend.css');

.AboutProject {
  display: flex;
  box-sizing: content-box;
}
