.Techs__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: -0.035rem;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  text-align: center;
  background-color: var(--color-gray);
}


@media (max-width: 768px) {
  .Techs__list-item {
    font-size: 0.75rem;
    letter-spacing: -0.03rem;
    width: 84px;
    height: 57px;
    margin-bottom: 10px;
  }
}

