.AboutProject__progress{
  margin-top: 55px;
  display: flex;
}

@media (max-width: 768px) {
  .AboutProject__progress{
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .AboutProject__progress{
    margin-top: 5px;
  }
}


