.AboutProject__progress {
  margin-top: 53px;
  display: flex;
}

@media (max-width: 768px) {
  .AboutProject__progress {
    margin-top: 37px;
  }
}

@media (max-width: 375px) {
  .AboutProject__progress {
    margin-top: 5px;
  }
}


