.AboutProject__paragraph {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25rem;
  margin-top: 26px;
}

@media (max-width: 768px) {
  .AboutProject__paragraph {
    font-size: 0.75rem;
    margin-top: 22px;
    line-height: 1.125rem;
  }
}

@media (max-width: 375px) {
  .AboutProject__paragraph {
    margin-top: 17px;
    font-size: 0.6875rem;
    line-height: 1rem;
  }
}
