.Promo__title{
    font-size: 2.5rem;
    line-height: 3.25rem;
    text-align: left;
    letter-spacing: -0.1rem;
    max-width: 626px;
    font-weight: normal;
}



@media (min-width: 769px) and (max-width: 1150px) {
    .Promo__title{
        margin: 0 auto;
        transition: all ease 0.5s;
        text-align: center;
        max-width: calc(100% - 30px * 2);
    }
}

@media (max-width: 768px) {
    .Promo__title{
        width: 93.75vw;
        margin: 251px auto 0;
        max-width: 680px;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .Promo__title{
        margin-top: 133px;
        max-width: calc(100% - 14px * 2);
        font-size: 1.9375rem;
        line-height: 2.4375rem;
        letter-spacing: -0.0775rem;
    }
}

@media (max-width: 320px) {
    .Promo__title{
        max-width: 100%;
    }
}

