.AboutMe__content {
  flex: 1 0 66.666667%;
  margin-top: 67px;
}


@media (max-width: 1024px) {
  .AboutMe__content {
    flex: 1 0 57%;
  }
}

@media (max-width: 766px) {
  .AboutMe__content {
    flex: 100%;
    order: 1;
    margin-top: 40px;
  }
}
