.AboutMe__photo {
  margin-top: 66px;
}

@media (max-width: 768px) {
  .AboutMe__photo {
    object-fit: cover;
    max-width: 255px;
  }
}

@media (max-width: 425px) {
  .AboutMe__photo {
    max-width: 100%;
    height: 352px;
    margin: 60px auto 0;
  }
}
