.FormList__btn {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 132px;
  width: 100%;
  min-height: 45px;
  color: #fff;
  border: none;
  background-color: var(--color-btn);
  cursor: pointer;
  transition: opacity 0.7s ease;
  border-radius: 3px;
}

.FormList__btn:hover {
  opacity: 0.7;
}

@media (max-width: 425px) {
  .FormList__btn {
    margin-top: 221px;
    font-size: 0.75rem;
  }
}
