.AboutMe__info {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-top: 18px;
}

@media (max-width: 768px) {
  .AboutMe__info {
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-top: 15px;
  }
}

@media (max-width: 375px) {
  .AboutMe__info {
    margin-top: 20px;
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 1rem;
  }
}



