.AboutProject__frontend-duration{
  padding: 9px 14px;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: normal;
  background-color: var(--color-gray);
  text-align: center;
}

@media (max-width: 375px) {
  .AboutProject__frontend-duration{
    font-size: 0.6875rem;
    padding: 10px 12px;
  }
}
